<header class="header-nav header-white fixed-header" style="left:0;right:0">
    <div class="fixed-header-bar">
      <div class="">
        <div class="navbar navbar-default navbar-expand-lg main-navbar">
          <div class="navbar-brand">
            <a href="index.html" title="hear Me Read" class="logo">
              <img src="assets/img/Logo/twitter-5.svg" class="image" alt="hear Me Read" title="" style="height: 57px;">
              <!-- <img src="assets/Images/Logo.png" class="image" alt="Bhaarat Emarket" title=""> -->
  
            </a>
          </div>
        
        </div>
      </div>
    </div> 
  </header>
  
  
  
  
  <section id="home" class="Firstdiv"
    style="left:0;right:0;margin-top: 82px; background: rgba(236, 240, 243, 0.5); backdrop-filter: blur(10px);">
  
  
    <div style="padding: 13px  16%;height: 100vh;">
      <!-- start tab content -->
  
      <div class="row">
        <div class="col-12 homeheader">
          <h1 style="margin-top: 6%;">Twitter Prediction</h1>
        </div>
  
      </div>
      <div class="row">
        <div class="col-12">
          <p> Make the most of your personal book collection and enhance the way you share stories with your friends, family, and classmates.</p>
        </div>
  
      </div>
   
      <div class="row">
        <div class="col-12">
            <form [formGroup]="formGroup">

            
                <div class="form-group">
                    <label for="exampleInputEmail1">Twitter User Name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" formControlName="username"  placeholder="User Name">
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                  </div>
                  <button class="btn" style="color: white;
                  background-color: #FF5E59;
                  margin-top: 18px;
                   width: 151px;
                   height: 35px;
                 border-radius: 25px;"(click)="next(formGroup.value)">Submit</button>
                 
                </form>
        </div>
  
      </div>
    </div>
  
  
  
  </section>
  
  
  
  


  
  <footer class="dark-bg footer" style="left:0;right:0">
    <div class="row vertical-divider" style="padding: 33px;">
      <div class="col-md-4" style="padding-left: 10%;">
  
        <div class="">
          <img src="assets/img/Logo/twitter-5.svg"  style=" height: 57px;" title="" alt="">
        </div>
        <p style="color:white">Follow us</p>
        <div class="row">
          <a href="#"> </a>
          <a href="#"> </a>
          <a href="#"> </a>
  
        </div>
  
      </div>
      <div class="col-md-4" style="padding-left: 10%;">
  
        <div class="">
          <h4>For You</h4>
        </div>
        <p style="color:white">Plan</p>
        <p style="color:white">About us</p>
  
  
      </div>
      <div class="col-md-4" style="padding-left: 10%;">
  
        <div class="">
          <h4>Customer Support</h4>
        </div>
        <!-- <i class="fa fa-phone" style="color: #FF5E59;" aria-hidden="true"></i>
        <i class="fas fa-envelope" style="color: #FF5E59;"></i>  -->
        <p style="color:white"> 1234567890</p>
        <p style="color:white"> support@hello.com</p>
  
  
      </div>
  
  
  
  
  
  
  
    </div>
  
  
  </footer>
  